<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlavourlinesWebApp</title>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/medium.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/large.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="left-group">
                    <img class="logo" src="images/icons/logo-placeholder.jpg">
                    <button class="hamburgerBtn"><span>&#9776;</span><span>X</span></button>
                </div>
                <div class="primaryNav-large">
                    <ul class="primary-list">
                        <li><a href="index.html">Home</a></li>
                        <p>|</p>
                        <li><a href="veiws/section1.html">Section1</a></li>
                        <p>|</p>
                        <li><a href="veiws/section2.html">Section2</a></li>
                        <p>|</p>
                        <li><a href="veiws/section3.html">Section3</a></li>
                    </ul>
                    <div class="search-bar">
                        <a class="icon-nav" href="havascript:void(0)">
                            <img class="user-icon" src="/images/icons/user-icon.png">
                        </a>
                        <input class="form-input quick-search-input" data-search-quick="" name="search_query" id="search_query" data-error-message="Search field cannot be empty." placeholder="Search the store" autocomplete="off">
                    </div>
                    <!-- Modal Structure -->
                    <div id="userModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h2 id="modal-title">Sign In</h2>
                            <div id="signInForm">
                                <form>
                                    <label for="signInUsername">Username:</label>
                                    <input type="text" id="signInUsername" name="username" required><br>
                                    <label for="signInPassword">Password:</label>
                                    <input type="password" id="signInPassword" name="password" required><br><br>
                                    <button type="submit">Sign In</button>
                                </form>
                                <p>Don't have an account? <a href="#" id="showSignUp">Sign Up</a></p>
                            </div>
                            <div id="signUpForm" style="display:none;">
                                <form>
                                    <label for="signUpUsername">Username:</label>
                                    <input type="text" id="signUpUsername" name="username" required><br><br>
                                    <label for="signUpPassword">Password:</label>
                                    <input type="password" id="signUpPassword" name="password" required><br><br>
                                    <button type="submit">Sign Up</button>
                                </form>
                                <p>Already have an account? <a href="#" id="showSignIn">Sign In</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kart-group" onclick="toggleDropdown()">
                    <img class="kart-icon" src="../../images/icons/cart-icon.png">
                    <p class="kart-number">(0)</p>
                    <div class="dropdown-content" id="dropdown-content">
                        <ul id="cart-items">
                            <!-- Cart items will be listed here -->
                        </ul>
                        <button onclick="viewCart()">View Cart</button>
                        <button onclick="checkoutNow()">Checkout Now</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <ul class="primaryNav">
                <div class="search-bar">
                    <a class="icon-nav" href="havascript:void(0)">
                        <img class="user-icon" src="/images/icons/user-icon.png">
                    </a>
                    <input class="form-input quick-search-input" data-search-quick="" name="search_query" id="search_query" data-error-message="Search field cannot be empty." placeholder="Search the store" autocomplete="off">
                </div>
                <!-- Modal Structure -->
                <div id="userModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2 id="modal-title">Sign In</h2>
                        <div id="signInForm">
                            <form>
                                <label for="signInUsername">Username:</label>
                                <input type="text" id="signInUsername" name="username" required><br>
                                <label for="signInPassword">Password:</label>
                                <input type="password" id="signInPassword" name="password" required><br><br>
                                <button type="submit">Sign In</button>
                            </form>
                            <p>Don't have an account? <a href="#" id="showSignUp">Sign Up</a></p>
                        </div>
                        <div id="signUpForm" style="display:none;">
                            <form>
                                <label for="signUpUsername">Username:</label>
                                <input type="text" id="signUpUsername" name="username" required><br><br>
                                <label for="signUpPassword">Password:</label>
                                <input type="password" id="signUpPassword" name="password" required><br><br>
                                <button type="submit">Sign Up</button>
                            </form>
                            <p>Already have an account? <a href="#" id="showSignIn">Sign In</a></p>
                        </div>
                    </div>
                </div>
                <hr>
                <li><a href="index.html">Home</a></li>
                <li><a href="veiws/section1.html">Section1</a></li>
                <li><a href="veiws/section2.html">Section2</a></li>
                <li><a href="veiws/section3.html">Section3</a></li>
            </ul>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-main">
            <div class="footer-title">
                <a class="youtube-link" href="https://www.youtube.com/">
                    <img class="youtube-icon" src="images/icons/youtube-icon.png">
                </a>
                <h1>#FLAVORLINES</h1>
                <h2>Check out our Youtube Channel</h2>
            </div>
            <div class="footer-section-legal">
                <a href="???">PRIVACY POLICY</a>
                <a href="???">TERMS & CONDITIONS</a>
                <a href="???">SHIPPING & RETURNS</a>
            </div>
            <div class="footer-section-contact">
                <p>Edmonton Alberta</p>
                <!-- Potentially add a phone icon -->
                <p>Phone: (???)???-????</p>
                <!-- Potentially add a email icon -->
                <p>Email: Business email</p>
                <img class="payments-image" src="images/payments-image-placeholder.jpg">
            </div>
        </div>
        <div class="copyright-container">
            <p class="copyright-text">&copy; 2024 (Name of Company) ALL RIGHTS RESERVED</p>
        </div>
    </footer>
    <script src="scripts/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
