j
@{
    ViewData["Title"] = "Section";
}

<div class="main-content">
    <div class="section-main">
        <h2 class="main-alert">This is an alert</h2>

        <div class="section-title">
            <h1>Section Name1</h1>
            <div class="breadcrumbs">
                <div class="breadcrumb">
                    <a class="breadcrumb-label" href="../index.html">
                        <span itemprop="name">Home</span>
                    </a>
                </div>
                <div class="middle-slash">
                    <p> / </p>
                </div>
                <div>
                    <a class="breadcrumb-label" itemprop="item" href="/veiws/section1.html">
                        <span itemprop="name">Section Name1</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="products">
            <div class="product-display">
                <a href="products/product1.html"><img src="../images/products/product-1-placeholder.jpg"> </a>
                <div class="product-display-text">
                    <h2>Cream Soda - 12 fl. oz</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <h3>CA$??.??</h3>
                </div>
                <div class="product-display-buttons">
                    <div class="quantity-box ">
                        <button type="button" class="button"> <span class="is-srOnly"></span><b>-</b></button>
                        <input type="text" id="txtAcrescimo" class="qty form-input form-input--incrementTotal" value="1">
                        <button type="button" class="button"><span class="is-srOnly"></span><b>+</b></button>
                    </div>
                    <!-- Consider adding a kart icon -->
                    <button type="button" class=""><span class="button"></span><b>ADD TO CART</b></button>
                </div>
            </div>
            <div class="product-display">
                <a href="???"><img src="../images/products/product-2-placeholder.jpg"> </a>
                <div class="product-display-text">
                    <h2>Root Beer - 12 fl. oz</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <h3>CA$??.??</h3>
                </div>
                <div class="product-display-buttons">
                    <div class="quantity-box ">
                        <button type="button" class="button"> <span class="is-srOnly"></span><b>-</b></button>
                        <input type="text" id="txtAcrescimo" class="qty form-input form-input--incrementTotal" value="1">
                        <button type="button" class="button"><span class="is-srOnly"></span><b>+</b></button>
                    </div>
                    <!-- Consider adding a kart icon -->
                    <button type="button" class=""><span class="button"></span><b>ADD TO CART</b></button>
                </div>
            </div>
            <div class="product-display">
                <a href="???"><img src="../images/products/product-2-placeholder.jpg"> </a>
                <div class="product-display-text">
                    <h2>Lemon Lime - 12 fl. oz</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <h3>CA$??.??</h3>
                </div>
                <div class="product-display-buttons">
                    <div class="quantity-box ">
                        <button type="button" class="button"> <span class="is-srOnly"></span><b>-</b></button>
                        <input type="text" id="txtAcrescimo" class="qty form-input form-input--incrementTotal" value="1">
                        <button type="button" class="button"><span class="is-srOnly"></span><b>+</b></button>
                    </div>
                    <!-- Consider adding a kart icon -->
                    <button type="button" class=""><span class="button"></span><b>ADD TO CART</b></button>
                </div>
            </div>
        </div>
    </div>

</div>

